h1{
  padding: 20px;

}

p{
  color: brown;
}

input{
  height: 30px;
  width: 400px;
}

input::placeholder{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: 900;
}